.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 5px solid #2f5d62;
    border-radius: 5px;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
}

.cardTravelButton{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    border: none;
    font-size: 20px;
    width: 50%;
    background: #ffb037;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.cardTravelButton:hover{
    background: #ffe268;
    width: 100%;
}