.container{
    display: flex;
    border: 5px solid #2f5d62;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100px;
}

.container input{
    width: 15px;
    height: 15px;
}

.cardTravelButton{
    margin: 20px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    border: none;
    font-size: 20px;
    width: 50%;
    background: #ffb037;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
.cardTravelButton:hover{
    background: #ffe268;
    width: 100%;
}